
/* basement Tablet */
.menu-container-modal{
  display: none;
 }

 .basement {
  background-color: var(--brand-color);
  padding: 100px 0;
}



.liniar{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  
}

.basement-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-logo-color);
}

.basement-second-logo {
  color: var(--cards-color);
}

.basement-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--buttons-2page);
  margin-top: 16px;
  text-align: left;
}
.basement-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background);
  margin-bottom: 16px;
}

.basement-icons{
  display: flex;
  gap: 16px;
}
.form-icon-bs{
 
  min-width: 264px;
}

.form-b{
  min-width: 264px;
  display: flex;
  gap: 24px;
}



.bs-f{
  border: 1px solid var(--background);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 100%;
font-size: 12px;
line-height: 2;
display: block;
align-items: center;
letter-spacing: 0.04em;
color: var(--background);
padding: 8px 16px;
background-color: var(--brand-color);
margin-bottom: 16px;
}

.basement-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-top: 0;
  color: var(--background);
}

.s-m{
  display: block;
}

.sb{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background);
}

.basement-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: var(--timing-cubic);
}

.basement-link:hover, .basement-link:focus{
  
  background-color: var(--green-color);
}

.basement-svg{
  height: 24px;
  width: 24px;
}



.btn-form-bs{
  display: flex;
  padding: 8px 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin: 0 auto;
  background: var(--accent-color);
  transition: background-color var(--timing-cubic);
 }

 .btn-form-bs:hover, .btn-form-bs:focus{
  background-color: var(--hover-color);
 }

 .submit{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background);
  margin-right: 16px;
  padding: 0;
  border: none;
 }

 .btn-svg-bs{
  height: 24px;
  width: 24px;
  fill: var(--background);
 }






.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}


.logo-color{
    color: var(--brand-color);
}

.logo-header-nav{
    display: flex;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    color: var(--accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
}




/*  FOR PHONE */

  @media screen and (min-width:480px) {
    .container{
        max-width: 428px;
    }
     
    .header-container{
        width: 428px;
    }

    .header-nav{
        display: none;
    }
    
      .header-address{
        display: none;
     }
   
  }

  @media screen and (max-width:479px) {
    .header-nav{
        display: none;
    }
    
      .header-address{
        display: none;
     }
  }

  @media screen and (min-width:768px) {

    .menu-btn{
        display: none;
    }

    .menu-container-modal{
        display: none;
    }

    .container{
        max-width:768px;
    }

    .header-container{
        width: 768px;
    }

   .header-address li{
    display: block;
    color: #31D0AA;
   }

    
  }

  
  .header-nav{
    margin: 0 auto;
    display: flex;
    gap: 40px;
   
    
}
    .nav-link.line::after{
    position: absolute;
    content: "";
    left:0;
    top: 44px;
    display: block;
    width: 100%;
    height: 4px;
    
    background-color: var(--hover-color);
    border-radius: 2px;
    }

    .nav-link.line{
        color: var(--hover-color);
    }



.nav-link {
    position: relative;
     color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--timing-cubic);

}

.nav-link::after{
    content:'';
    width: 64px;
    height: 4px;
    background-color: var(--accent-color);
}





.header-container{
    display: flex;
    align-items: center;
    
    }
    

address {
    font-style: normal;
  }

.header-address{
    display: flex;
    margin: 0 auto;
    gap: 40px;
 }




.address-link{
    
    
   
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
}

.adr-list{
    margin-left: auto;
    font-style: normal;
}

.active{
    transition: var(--timing-cubic);
}

.active:hover, .active:focus{
    color: var(--hover-color);
    

}

  

    .menu-btn{
       cursor: pointer;
        border: none;
        background-color: transparent;
    }
    
   
    
    
    
    .menu{
        width: 32px;
        height: 22px;
    }

    
    
    
    .header-nav-modal{ 
        padding-top: 80px;
        padding-left: 40px;
    }
    
    .header-nav-modal li:not(:last-child){
        margin-bottom: 40px;
    }

   
    
    .menu-container-modal{
        position: absolute;
        
        z-index: 100;
        top:0;
        left: 0; 
        width: 100%;
        height: 800px;  
        background-color: var(--background);
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
        transition: opacity var(--timing-cubic);
    
    }
    
    
    .menu-container-modal.is-open{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--timing-cubic) ;
    }
    
    
    .menu-container-modal .header-nav, .menu-container-modal .header-address-menu{
        display: block;
        
        top: 0;
        left: 0;
       
        font-size: 10px;
    }
    
    .nav-link-modal {
        position: relative;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
           
        letter-spacing: 0.02em;
        text-transform: capitalize;
           
      color: var(--brand-color);
      transition: color var(--timing-cubic);
    
    }

    .nav-link-modal.blue{
        color: #404BBF;
    }
    
    .nav-link-modal:hover, .nav-link-modal:focus{
        color: var(--hover-color);
    }
    
    .header-address-menu{
        padding-top: 284px;
        padding-left: 40px;
    
    }
    
    .header-address-menu li:not(:last-child){
        margin-bottom: 40px;
    }
    
    .address-link-mail{
         color: var(--primary-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        transition: color var(--timing-cubic);
    }
    
    .address-link-mail:hover, .address-link-mail:focus{
        color: var(--hover-color);
    }
    
    .address-link-number{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    
    
       
    letter-spacing: 0.02em;
    text-transform: capitalize;
       
    color: var(--accent-color);
    transition: color var(--timing-cubic);
    }
    
    .address-link-number:hover, .address-link-number:focus{
        color: var(--hover-color);
    }
    
    .menu-svg{
        padding-top: 48px;
    }
    
    .icon-menu{
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 56px;
    }
    
    .time-icon{
        width: 40px;
        height: 40px;
        
    }
    
    .icon-link{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--timing-cubic);
    }
    
    .icon-link:hover, .icon-link:focus{
        
        background-color: var(--hover-color);
    }
    
    .svg-icon-menu{
        height: 24px;
        width: 24px;
        
    
    }
    
   
       
    
        
       .cl-menu{
        display: flex;
        position: absolute;
        top: 24px;
        right: 24px;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: var(--background);
    }
    
    .menu-svg{
        stroke: var(--brand-color);
    }
    
    .menu-close-svg{
        
        width: 8px;
        height: 8px;
        fill: var(--brand-color);
    }


    /* hero-phone */

    .hero {
        margin-top: 0;
        margin-bottom: 0;
        background-color: var(--brand-color); 
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero-428-min.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        text-align: center;
        
        margin: 0 auto;
        }

     @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        .hero{
            background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero-428-@2-min.jpg);
        }
     }
    
     .hero-title {
        color: #ffffff;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 48px;
        }

        .btn-hero {
            color: var(--background);
            background-color: var(--accent-color);
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            align-items: center;
            letter-spacing: 0.04em;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            padding: 16px 32px;
            border: 0px solid transparent;
            border-radius: 4px;
            
          }
        
          .active-btn{
            transition: var(--timing-cubic);
          }
          
          .active-btn:hover,
          .active-btn:active,
          .active-btn:focus {
            color: var(--background);
            background-color: var(--hover-color);
           
          }
        

          /* specifics */

          .specifics {
            padding-top: 96px;
            padding-bottom: 96px;
          }
          
          .mini-title {
            color: var(--mini-titles-color);
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
            margin-top: 8px;
          }
          
          .specifics-text,
          .text-dsc {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
          }
          .about-item {
            width: 100%;
            padding-bottom: 72px;
          }

          .s-i:not(:last-child){
            margin-bottom: 72px;
          }




          .basement {
            background-color: var(--brand-color);
            padding: 100px 0;
          }
          
          .footer-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 72px;
          }
        
          .basement-logo {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--accent-logo-color);
          }
        
          .basement-second-logo {
            color: var(--cards-color);
          }
        
          .basement-text {
            max-width: 264px;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--buttons-2page);
            margin-top: 16px;
            text-align: left;
          }
          .basement-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--background);
            margin-bottom: 16px;
          }
        
          .basement-icons{
            display: flex;
            gap: 16px;
          }
          .form-icon-bs{
           
            min-width: 264px;
          }
        
          .form-b{
            min-width: 264px;
          }
        
          .bs-f{
            border: 1px solid var(--background);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          border-radius: 4px;
          width: 100%;
          font-size: 12px;
          line-height: 2;
          display: block;
          align-items: center;
          letter-spacing: 0.04em;
          color: var(--background);
          padding: 8px 16px;
          background-color: var(--brand-color);
          margin-bottom: 16px;
          }
        
          .basement-title{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            margin-top: 0;
            color: var(--background);
          }
        
          .s-m{
            display: block;
          }
        
          .sb{
            font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--background);
          }
        
          .basement-link{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--accent-color);
            transition: var(--timing-cubic);
          }
        
          .basement-link:hover, .basement-link:focus{
            
            background-color: var(--green-color);
          }
        
          .basement-svg{
            height: 24px;
            width: 24px;
          }
        
          
        
          .btn-form-bs{
            display: flex;
            padding: 8px 24px;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
            margin: 0 auto;
            background: var(--accent-color);
            transition: background-color var(--timing-cubic);
           }
        
           .btn-form-bs:hover, .btn-form-bs:focus{
            background-color: var(--hover-color);
           }
        
           .submit{
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--background);
            margin-right: 16px;
            padding: 0;
            border: none;
           }
        
           .btn-svg-bs{
            height: 24px;
            width: 24px;
            fill: var(--background);
           }
        
           .menu-container-modal{
            display: none;
           }
        }




       /* what we're doing */

          .doing{
            display: none;
          }


          /* team */

          .team {
            background-color: var(--cards-color);
            padding-top: 96px;
            padding-bottom: 96px;
          }
         
          
          .primary-title-team {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            color: var(--brand-color);
            margin: 0;
            padding-bottom: 72px;
          }
          .team-list {
            width: 264px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 72px;
          }
          
          .items {
            background-color: var(--background);
            width: 100%;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            justify-content: center;
            width: 100%;
          }
          .team-pl {
            padding: 32px 16px;
            text-align: center;
          }
          .secondary-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--brand-color);
            margin-bottom: 8px;
          }
          .img-dsc-team {
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
          }
          
          .social-media{
            list-style: none;
            padding-left: 0;
            gap: 24px;
            margin: 0;
                display: flex;
                justify-content: center;
               
        
               
        }
        
        .time-icon{
            width: 40px;
            height: 40px;
            
        }
        
        .icon-link{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--accent-color);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--timing-cubic);
        }
        
        .icon-link:hover, .icon-link:focus{
            
            background-color: var(--hover-color);
        }
        
        .svg-icon{
            height: 16px;
            width: 16px;
            
        }
        
        /* customers */

        @media screen and (max-width:428px) {
            .customers-list{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .primary-title{
            margin-top: 0;
           margin-bottom: 72px;
          padding-top: 0;
          padding-bottom: 0;
    color: var(--primary-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
        }
     
        .customers{
            padding-top: 120px;
            padding-bottom: 120px;
        
        }
        
        
        .customers-list{
            display: flex;
            flex-wrap: wrap;
            column-gap: 16px;
            row-gap: calc(var(--card-set-gap) * 3);
            justify-content: center;
        }
        
         .customers-icon-svg{
            display: flex;
            align-items: center;
            width: 104px;
            height: 56px;
            
         }
        
         .customers-link{
            border: 1px solid var(--grey-color);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 168px;
            height: 88px;
            fill: var(--grey-color);
            transition: var(--timing-cubic);
        }
        
        .customers-link:hover, .customers-link:focus{
           
            fill: var(--hover-color);
            border: 1px solid var(--hover-color);
        }

  
   /* basement */

   .basement {
    background-color: var(--brand-color);
    padding: 100px 0;
  }
  
  .footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 72px;
  }

  .basement-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-logo-color);
  }

  .basement-second-logo {
    color: var(--cards-color);
  }

  .basement-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--buttons-2page);
    margin-top: 16px;
    text-align: left;
  }
  .basement-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
  }

  .basement-icons{
    display: flex;
    gap: 16px;
  }
  .form-icon-bs{
   
    min-width: 264px;
  }

  .form-b{
    min-width: 264px;
  }

  .bs-f{
    border: 1px solid var(--background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  line-height: 2;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background);
  padding: 8px 16px;
  background-color: var(--brand-color);
  margin-bottom: 16px;
  }

  .basement-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
    color: var(--background);
  }

  .s-m{
    display: block;
  }

  .sb{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background);
  }

  .basement-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: var(--timing-cubic);
  }

  .basement-link:hover, .basement-link:focus{
    
    background-color: var(--green-color);
  }

  .basement-svg{
    height: 24px;
    width: 24px;
  }

  

  .btn-form-bs{
    display: flex;
    padding: 8px 24px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    background: var(--accent-color);
    transition: background-color var(--timing-cubic);
   }

   .btn-form-bs:hover, .btn-form-bs:focus{
    background-color: var(--hover-color);
   }

   .submit{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background);
    margin-right: 16px;
    padding: 0;
    border: none;
   }

   .btn-svg-bs{
    height: 24px;
    width: 24px;
    fill: var(--background);
   }

/* modal */

.backdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    transition: opacity var(--timing-cubic) ;
    
   
  }

  .backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--timing-cubic) ;
  }

  .window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
  }

  .close-btn{
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
  }

  .svg-btn{
    fill: var(--brand-color);
    width: 8px;
    height: 8px;
  }

  .close-btn:hover, .close-btn:focus{
    background-color: var(--hover-color);
  }

  .svg-btn:hover, .svg-btn:focus{
    fill: var(--background);
  }

  /* form */

  .window{
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }

  .form{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .title-form{
    padding: 0;
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--brand-color);
  }

  .form-comp{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    /* outline: 3px solid salmon; */
  }

  .form-comp label{
    margin-bottom:4px;
  }

  .form-comp input{
    
border: 1px solid rgba(46, 47, 66, 0.4); 
    
border-radius: 4px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 38px;
  }


  .form-comp label{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: var(--grey-color);
  }

  textarea{
    resize: none;
    
  }

 .tx-area{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    background-color: transparent;
    resize: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
 }

 .tx-area:focus, tx-area:active{
    border: 1px solid var(--accent-color);
 }
  
  .groups{
    display: flex;
    flex-direction: column;
    
    
  }

  

  .groups label{
    margin-bottom: 4px;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: var(--grey-color);
  }

 

  .groups ::placeholder{
    
    
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: var(--grey-color);
  }

.accept{ 
    display: flex;
    padding-top: 16px;
    padding-bottom: 24px;
}



  .accept label{
    display: flex;
    margin-left: 8px;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: var(--grey-color);
  }

  .btn-form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;

    padding: 16px 32px;
    width: 169px;
    height: 56px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    background-color: var(--accent-color);
    color: var(--background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px ;
    border: var(--accent-color);
    transition: var(--timing-cubic);
  }

  .btn-form:hover, .btn-form:focus{
    background-color: var(--hover-color);
  }

  /* icon */
    .thumb-icon{
        position: relative;
    }

    
  .input-icon{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    transition: border-color var(--timing-cubic);
    outline: transparent;
  }

  .input-icon:focus, .input-icon:active{
    border: 1px solid var(--accent-color);
   
    }
  
  .icon-svg{
    position: absolute;
    display: inline-block; 
    width: 12px;
    height: 12px;
    
    fill: var(--brand-color) ;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    left: 16px;
    transition: fill var(--timing-cubic);
  }

  .input-icon:focus + .icon-svg{
    fill: var(--accent-color);
  }

  /* checkbox */

  .accept{
    padding: 0;
    margin-top: 16px;
  }

  .checkbox{
    appearance: none;
    position: absolute;
  }

  .text-acp{
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--grey-color);
    
    align-items: center;
  }

   .text-acp::before{
    content: '';
    display: block;

    width: 16px;
    height: 16px;
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    cursor: pointer;
    
   }

   .checkbox:checked + .text-acp::before{
    background-color: var(--accent-color);

    background-image: url("../images/Vector\ \(6\)\ \(1\).svg");
   
    background-position: center;
    background-repeat: no-repeat;
    border: none;

   
   }

   .pp{
    text-decoration: underline;
    color: var(--accent-color);
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-left: 3px;
   }

